// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

// My Less Styles

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
@heading-font: 'Roboto', sans-serif;
@general-font: 'Roboto Slab', serif;
@main-color: black;
@secondary-color: grey;
@tertiary-color: cyan;

.width100(){
	width:100%;
}
.no-decoration(){
	text-decoration:none;
}
.center(){
	display:flex;
	justify-content: center;;
}
.vertical-center(){
	display:flex;
	align-items:center;
}
.left(){
	display:flex;
	justify-content: flex-start;
}
header{
	display:flex;
	justify-content: flex-end;
	margin: 2% 0%;

	nav{
		display:flex;
		justify-content:space-evenly;
		width: 25%;

		a{
			.no-decoration();
			color:@main-color;
			font-weight:bold;

			&:hover{
				color:blue;
			}//this ends hover
		}//this ends a

	}//this ends nav
} // this ends header 
h1{
	font-size: 2rem;
	margin: 3% 0;
	font-weight:bold;
} //h1 end
h2{
	font-size: 1.5rem;
	margin: 3% 0;
	font-weight:bold;
}//h2 end

// Containers Styles
.container{
	margin: 0 auto;
	width: 75%;

	.Section-One{
		padding: 5%;
		background-color:@secondary-color;
		.center();
		.box{
			width:50%;
			margin: 5% 0;
			.box-wrapper{
				margin-right: 5%;
				.profile-img{
					.width100();
					.center();
					height:50%;
					img{
						width:50%;
					}
				}
			}
		}
		.box2{
			width:50%;
			margin: 5% 0;
			display:flex;
			align-items: center;
		}
			.button-wrapper{
				.left();
				margin-top:2%;
				.button{
					background-color: white;
					color: black;
					padding: 10px 44px;
					text-align: center;
					border: solid 2px black;
					margin-top: 15px;
					text-decoration: none;
					font-weight: bold;
					margin: 4px 2px;
					cursor: pointer;
					
						a{
							.no-decoration();
							.width100();
							padding: 2%;
						}
				}
			}
			
	} // this ends section one

	.Section-Two{
		.center();
			.box{
				width:50%;
				margin: 5% 0;
				.box-wrapper{
					margin-right: 5%;
					li{
						padding: 5%;
						border-top:solid 1px gray;
						border-left: solid 1px gray;
						border-right:solid 1px gray;
						&:last-child{
							border-bottom:solid 1px gray;
						}
					}
					p{
						line-height: 1.5;
						height:100%;
					}
				}
			}
	}//Section Two Ends Here

	.Section-Three{
		.width100();
		table{
			text-align:left;
			.width100();
			th{
				padding: 2% 1%;
			}
			td{
				padding:2% 1%;
			}
			tr{
				margin: 0 1%;
				border: solid 1px @secondary-color;
				&:nth-child(even){
					background-color:@secondary-color;
				}
			}
			
		}
	}//section three end
}//container end
footer{
	margin-top:10%;
	padding: 5% 0;
	background-color: @secondary-color;
	text-align:center;
}